<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link   rel="stylesheet" href="style.css">
</head>
<body>
    <!-- navigation bar start -->
    <nav id="nav">

        <ul class="left_ul">
            <li> <a href=""> job portal</a></li>
        </ul>
        <ul class="right_ul">
            <li><a href=""> home</a></li>
            <li><a href=""> about us</a></li>
            <li><a href=""> portoflie</a></li>
            <li><a href=""> service</a></li>
            <li><a href=""> contact</a></li>
        </ul>

    </nav>
    <header id="bannner">
        <div class="banner_text">
            <h1>job portal </h1>
            <p> search job easily </p>
            <div class="banner_btn">
                <!-- <label for="fullname">search job</label> -->
                <!-- <input type="text" id="fullname" placeholder="search job "/> -->
                <input type="submit" value="submit" class="btn"/>
            </div>
        </div>
    </header>
    <section id="web_discription">
        <div class="container">
            <h1> best place to work </h1>
            <p>sdddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd</p>
            <div class="webdesc_btn">
                <input type="submit" value="search job" class="btn"/>
            </div>
        </div>

    </section>
    <section id="web_discription">
        <div class="container">
            <h1> best place to work </h1>
            <p>sdddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd</p>
            <div class="webdesc_btn">
                <input type="submit" value="search job" class="btn"/>
            </div>
        </div>

    </section>
    <section id="web_discription">
        <div class="container">
            <h1> best place to work </h1>
            <p>sdddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd</p>
            <div class="webdesc_btn">
                <input type="submit" value="search job" class="btn"/>
            </div>
        </div>

    </section>
    <section id="web_discription">
        <div class="container">
            <h1> best place to work </h1>
            <p>sdddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd</p>
            <div class="webdesc_btn">
                <input type="submit" value="search job" class="btn"/>
            </div>
        </div>

    </section>
</body>
</html>